
<div class="table">
    <table class="thead-dark"> 
        <thead>
            <tr>
                <th>Application Id</th>
                <th>Status</th>  
                <th class="action">View Applicant Detail</th>
                 
            </tr>
        </thead>
        <tbody>
            <tr>
                <!-- <td> {{value}} </td> -->
            </tr>
              <tr  *ngFor = "let a of applobj;">              
                <td> {{a.applicationId}} </td>
                <td> {{a.status}} </td>
                <td> <a [routerLink]="['/report', a.applicationId]" class="btn btn-primary active" role="button" routerLinkActive="active">View Application</a> </td>       
                
            </tr> 
        </tbody>
    </table>
</div> 
<a [routerLink]="['/admin-dashboard']" class="btn btn-primary active back" role="button" routerLinkActive="active">Back</a>

&nbsp;

<footer class="py-5" style="background-color: #e0e3e6;position: relative;margin-top:2%;">
    <div class="container"><p class="m-0 text-center text-dark">Copyright &copy; WheelEx 2021</p></div>
</footer>