<h1>User DashBoard</h1>
<div class="sidebar">
    <a [routerLink]="['/addemp']">Add/update Employment Details </a><br>
    <a class="appstatus" [routerLink]="['/status']">Application Status </a><br>
    <a  [routerLink]= "['/addbank']">Add Bank Details </a><br> 
    <a class="bankdetails" [routerLink]="['/updatebank']">Update Bank Details </a><br> 
</div>

<div class="card border-primary mb-3" style="max-width: 50rem; ">
    <div class="card-body text-primary">
        <h5 class="card-title">Employment Details</h5>
        <hr>
        <form [formGroup]="addForm" (ngSubmit)="onSubmit(addForm.value)">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Employment Type</label>
                <div class="col-sm-10">
                    <input class="form-control" placeholder="Employment Type" formControlName="employmentType">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Annual Salary</label>
                <div class="col-sm-10">
                    <input class="form-control" placeholder="Annual Salary" formControlName="annualSalary">
                </div>
            </div>


            <input class="btn btn-primary" type="submit" value="Submit" style="float: right;width:100px;">

        </form>

    </div>
</div>