<div class="wrapper">
    <div class="sidebar">
        <h6> <i class="fas fa-home"></i><a [routerLink]="['/user-dashboard']"> User Dashboard</a> </h6>
        <ul> 
            <li><a class="bankdetails" [routerLink]="['/loanprocedures']"><i class="far fa-address-book"></i>Loan
                Procedures<br> </a></li>
            <li><a [routerLink]="['/addemp']"> <i class="fa fa-book fa-fw"></i> Add/Update your Employment Details</a>
            </li>
            <li><a class="appstatus" [routerLink]="['/status']"><i class="fas fa-user"></i>Application Status </a></li>
            <li><a [routerLink]="['/addbank']"><i class="fas fa-briefcase"></i> Add Bank Details</a></li>
            <li><a [routerLink]="['/vehicletypes']"><i class="fas fa-chart-line"></i>Apply Loan</a></li>
            <li><a class="bankdetails" [routerLink]="['/aboutus']"><i class="fas fa-address-book"></i>About us</a></li>
            <li><a class="bankdetails" [routerLink]="['/home']" (click)="onLogout()"><i class="fas fa-sign-out-alt" ></i>Log Out</a></li>
        </ul>
    </div>
</div>
  
<div class="card border-primary mb-3" style="max-width: 50rem; ">
    <div class="card-body text-primary">
        <h5 class="card-title">Employment Details</h5>
        <hr>
        <form [formGroup]="addForm" (ngSubmit)="onSubmit(addForm.value)">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Employment Type</label> 
                
                <div class="col-sm-10"> <select class="form-control"  placeholder="Employment Type" formControlName="employmentType">
                  <option value="" disabled>Choose your Employment Type</option>
                  <option value="Private">Private</option>
                    <option value="Entrepreneur">Entrepreneur</option> 
                    <option value="Government">Government</option>
                    <option value="Others">Others</option>
                
             </select></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Annual Salary</label>
                <div class="col-sm-10">
                    <input class="form-control" placeholder="Annual Salary" formControlName="annualSalary">
                </div>
            </div>


            <input class="btn btn-primary" type="submit" value="Submit" style="float: right;width:100px;">

        </form>

    </div>
</div>

&nbsp;

<footer class="py-5" style="background-color: #e0e3e6;position: relative;margin-top: 7%;">
    <div class="container"><p class="m-0 text-center text-dark">Copyright &copy; WheelEx 2021</p></div>
</footer>