<div class="wrapper">
    <div class="sidebar">
        <h6>User Dashboard</h6>
        <ul>
            <li><a [routerLink]="['/addemp']"> <i class="fas fa-home"></i>Add/Update your Employment Details</a></li>
            <li><a class="appstatus" [routerLink]="['/status']"><i class="fas fa-user"></i>Application Status </a></li>
            <li><a [routerLink]="['/addbank']"><i class="fas fa-user"></i>Add Bank Details</a></li>
            <li><a class="bankdetails" [routerLink]="['/updatebank']"><i class="fas fa-project-diagram"></i>Update Bank
                    Details<br> </a></li>
            <li><a [routerLink]="['/vehicletypes']"><i class="fas fa-blog"></i>Apply Loan</a></li>
            <li><a class="bankdetails" [routerLink]="['/aboutus']"><i class="fas fa-address-book"></i>About us</a></li>
        </ul>
    </div>
  </div>

<table class="center"> 
    <thead>
        <tr><th>Application ID</th><th>Status</th></tr>
    </thead>
    <tbody>
        <tr *ngFor = "let e of empstatus;">
            <td>{{e.applicationId}}</td>
            <td>{{e.status}}</td>
          
        </tr>
       
    </tbody>
</table>
