<div class="wrapper">
  <div class="sidebar">
      <h6> <i class="fas fa-home"></i><a [routerLink]="['/user-dashboard']"> User Dashboard</a> </h6>
      <ul>
          <li><a [routerLink]="['/addemp']"> <i class="fa fa-book fa-fw"></i> Add/Update your Employment Details</a></li>
          <li><a class="appstatus" [routerLink]="['/status']"><i class="fas fa-user"></i>Application Status </a></li>
          <li><a [routerLink]="['/addbank']"><i class="fas fa-briefcase"></i> Add Bank Details</a></li>
          <li><a class="bankdetails" [routerLink]="['/updatebank']"><i class="far fa-address-book"></i>  Update Bank
                  Details<br> </a></li>
          <li><a [routerLink]="['/vehicletypes']"><i class="fas fa-chart-line"></i>Apply Loan</a></li>
          <li><a class="bankdetails" [routerLink]="['/aboutus']"><i class="fas fa-address-book"></i>About us</a></li>
      </ul>
  </div>
</div>

  <div class="card border-primary mb-3" style="max-width: 55rem; ">
      
  
    <div class="card-body text-primary">
      <h5 class="card-title">Bank Details</h5>
      <hr>
      <form [formGroup]="addbankForm" (ngSubmit)="onSubmit(addbankForm.value)" >
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Account Number</label>
            <div class="col-sm-10">
              <input  class="form-control"  placeholder="Account Number" formControlName="accountNumber" >
            </div>
          </div>
          <div class="form-group row">
              <label class="col-sm-2 col-form-label">IFSC Code</label>
              <div class="col-sm-10">
                <input  class="form-control"  placeholder="IFSC Code" formControlName="ifscCode" >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Bank Branch</label>
              <div class="col-sm-10">
                <input  class="form-control"  placeholder="Bank Branch" formControlName="bankBranch" >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Account Type</label> 
              
              <div class="col-sm-10"> <select class="form-control"  placeholder="Account Type" formControlName="accountType">
                <option value="" disabled>Choose your Account Type</option>
                <option value="SALARY" >SALARY</option>
              <option value="SAVINGS" >SAVINGS</option>
              
           </select></div>
          </div>
            <input class="btn btn-primary" type="submit" value="Submit" style="float: right;width:100px;">
                              
          </form>

    </div>
    </div>
