<h1 class="header"> Two Wheeler Eligibility Checker</h1>
<div class="container">

<form [formGroup]="addForm" (ngSubmit)="onSubmit()" >



  <div class="form-group">
    <label for="exampleFormControlInput1">Name</label>
    <input formControlName="applicantName" type="text" class="form-control" id="formNameId" placeholder="Sanketh" value={{userName}} [readonly]="readonly" >
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput2">Vehicle Type</label>
    <input formControlName="vehicleType" type="text" class="form-control" id="formVehicleTypeId"  value={{vehicleType}}heeler [readonly]="readonly">
  </div>


  <div class="form-group">
    <label for="exampleFormControlSelect1"> <span style="color:#000000"> Vehicle Brand </span> </label>
    <select  formControlName="vehicleId"class="form-control" id="formSelectVehicleId" name="fourWheelerInput" (click)="change()">
      <option value="">Select Vehicle </option>
      <option *ngFor="let vehicle of twoWheelerVehicleList" value={{vehicle.vehicleId}}>
        {{vehicle.vehicleBrand}}-{{vehicle.vehicleModel}}
      </option>

    </select>


  </div>


  <div class="form-group">
    <label for="exampleFormControlInput3">Vehicle ShowRoom Price</label>
    <input formControlName="showRoomPrice" type="text" class="form-control" id="formVehicleShowRoomPriceId"  value={{vehicleShowRoomPrice}} [readonly]="readonly">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput4">Vehicle On Road Price</label>
    <input formControlName="onRoadPrice" type="text" class="form-control" id="formVehicleOnRoadPriceId"  value={{vehicleOnRoadPrice}} [readonly]="readonly">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput5">Interest</label>
    <input formControlName="interest" type="text" class="form-control" id="formVehicleInterestId"   placeholder="%" value={{interest}} [readonly]="readonly">
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput6">Age</label>
    <input  formControlName="age" type="text" class="form-control" id="formAgeId">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput7">Gender</label>
     <select  formControlName="gender"class="form-control" id="formGenderId" name="fourWheelerInput" (click)="change()">
      <option value="">Select Gender </option>
      <option value="M">Male</option>
      <option value="F">Female</option>
      <option value="O">Others</option>

    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput8">Type of Employment</label>
    <input  formControlName="typeOfEmployment" type="text" class="form-control" id="formEmploymentTypeId" value={{typeOfEmployment}} [readonly]="readonly">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput9">Annual Income</label>
    <input formControlName="annualIncome" type="text" class="form-control" id="formIncomeId" value={{annualIncome}} [readonly]="readonly">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput10">Existing EMI</label>
    <input formControlName="existingEmi" type="text" class="form-control" id="formEmiId" value={{existingEmiAmount}} [readonly]="readonly">
  </div>
  <div class="form-group" *ngIf="eligibilityStatus=='Eligible'">
    <label for="exampleFormControlInput10">EligibilityStatus</label>
    <input formControlName="eligibilityStatus" type="button" class="form-control" id="formEmiId" value={{eligibilityStatus}}:Congratulations!!_you_are_eligible_to_apply_for_loan...Click_on_Continue>
  </div>
  <div class="form-group" *ngIf="eligibilityStatus=='Not Eligible'">
    <label for="exampleFormControlInput10">EligibilityStatus</label>
    <input formControlName="eligibilityStatus" type="button" class="form-control" id="formEmiId" value={{eligibilityStatus}}:Sorry!!_your_profile_is_not_eligible_to_apply_for_loan...Click_on_Back>
  </div>
  <h6 style="color:green;" *ngIf="isSubmitted==true" id="formStatusId">Form Successfully submitted</h6>

  <div class="form-group text-center">

    <button [routerLink]="['/vehicletypes']" class="btn btn-danger" type="reset">Back</button>
    &nbsp; &nbsp;
    <input type="submit" class="form-control" id="formSubmitButtonId" class="btn btn-success" *ngIf="eligibilityStatus!='Eligible' && isSubmitted!=true">
    &nbsp; &nbsp;
    <a [routerLink]="['/loanDetails']" class="btn btn-warning" *ngIf="eligibilityStatus=='Eligible'" routerLinkActive="active">Continue</a>

  </div>
</form>
</div>

&nbsp;

<footer class="py-5" style="background-color: #e0e3e6;position: relative;margin-top:2%;">
    <div class="container"><p class="m-0 text-center text-dark">Copyright &copy; WheelEx 2021</p></div>
</footer>
