<br /><br />
<div class="col-md-6 col-md-offset-2">
    <h2 class="signup">Login</h2>
    <br />
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">  
    <div class="center">
      <div *ngIf="error1display">{{error1}}</div> 
      <div *ngIf="error2display">{{error2}}</div>
          <div class="form-group">
              <label for="emailId">Email address:</label>
              <input type="email" formControlName="emailId" placeholder="Email" name="emailId" class="form-control" id="emailId" required>
              <div *ngIf="submitted && addForm.controls.emailId.errors" class="danger">
                    <div class="text-danger" *ngIf="addForm.controls.emailId.errors.required">Email is required
          </div>
                  </div>
            </div>

      <div class="form-group">
              <label for="password">Password :</label>
              <input type="text" formControlName="password" placeholder="password" name="password" class="form-control" id="password" required>
              <div *ngIf="submitted && addForm.controls.password.errors" class="danger">
            <div class="text-danger" *ngIf="addForm.controls.password.errors.required">Password is required
          </div>
                  </div>
            </div> 
          <button class="btn btn-success">Login</button>&nbsp; &nbsp;
      <div class="form-group">
      </div>
    </div>
        <br /><br />

  </form>
</div>