<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Vehicle Loan</h1>
      <p>We are a leading Loan Providing Company with many Service Clients world wide</p>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <h2>International Clients</h2>
        <p>USA, CANADA, UK, UAE, INDIA, SINGAPORE</p>
      </div>
      <div class="col-md-4">
        <h2>Loan Offers</h2>
        <p>Interesting Loan Offers starting at 9% interest rates. Special offers are available at festival seasons </p>

      </div>
      <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>For More Queries. Contact us at <span style="color: blue;">easriram@gmail.com</span> </p>
      </div>
    </div>
  </div>

</main>
&nbsp;

<footer class="py-5" style="background-color: #e0e3e6; margin-top: 9%;">
  <div class="container"><p class="m-0 text-center text-dark">Copyright &copy; WheelEx 2021</p></div>
</footer>
