
<br /><br />
<div class="col-md-6 col-md-offset-2">
      <h2 class="signup" style="margin-left:30%">Reset Password</h2>
    <div *ngIf="errorDisplay" style="margin-left:35%">{{errorMessage}}</div>
      <br />
      <form [formGroup]="addForm">
        <div class="center">
                <div class="form-group">
                      <label for="emailId">Email address</label>
                      <input type="email" formControlName="emailId" placeholder="Email" name="emailId" class="form-control" id="emailId"
                    required>
                      <div *ngIf="submitted && addForm.controls.emailId.errors" class="danger">
                              <div class="text-danger" *ngIf="addForm.controls.emailId.errors.required">
                        Email is required
                    </div>
                            </div>
                    </div>

            <div class="form-group">
                      <label for="password"> New Password </label>
                      <input type="password" formControlName="newpassword" placeholder="New password" name="newpassword"
                     class="form-control"  id="password" required>
                      <div *ngIf="submitted && addForm.controls.newpassword.errors" class="danger"> Password minimum
                    Length is 5
                      <div class="text-danger" *ngIf="addForm.controls.newpassword.errors.required">Password is required
                    </div>
                            </div>
                    </div>
                <button class="btn btn-success" (click)="onSubmit()" class="reset">Reset Password</button>&nbsp; &nbsp; 
             <a class="btn btn-success" [routerLink]="['/login']" class="back">Back To Login</a>&nbsp; &nbsp;

            <div class="form-group">
            </div>
        </div>
            <br /><br />

    </form>
</div>

&nbsp;

<footer class="py-5" style="background-color: #e0e3e6; margin-top: 1%;">
    <div class="container">
        <p class="m-0 text-center text-dark">Copyright &copy; WheelEx 2021</p>
    </div>
</footer>