*
{
    font-family: 'poppins' sans-serif;
}


.navbar-brand
{ 
    margin-left: 4%;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.6em; 
    color: rgb(255, 255, 255);
}  
.nav-link 
{
    color: rgb(255, 242, 242);
}
.nav-item
{
    font-weight: 700; 
    text-transform: uppercase;
    padding: 5px 15px; 
    margin-left: 80px;  
    color:rgb(255, 255, 255);
}    
.bg-custom
{
    background-color: #3975c4;
}
nav{
     
    position:relative; 
    width:100%; 
    
}

a{ 
    position: relative;
    font-family: 'poppins'sans-serif; 
    letter-spacing: 0.5px; 
} 
a:after
{
    content: ""; 
    position: absolute;
    background-color: rgb(12, 35, 99);; 
    height: 3px; 
    width: 0; 
    left:0;
    bottom:-10px; 
    transition: 0.3s;
} 
a:hover 
{ 
    color: rgb(12, 35, 99);
}
a:hover:after 
{
    width: 100%;
} 
