
.login-container{
    margin-top: 3%;
    margin-left: 25%; 
    width: 100%;
}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 80%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer; 
    margin-left: 10%;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
} 

.col-md-6 {
    /* flex: 0 0 auto; */ 
    margin-left:25%;
    width: 45%;
    background-color: rgb(177, 207, 247);

}
label
{
    font-weight: 500;
} 

.btn-success {
    margin-bottom: 7%;
    color: #fff;
    background-color: #198754;
    border-color: #198754;
    margin-left: 37%;
}

.btn-navg {
    margin-bottom: 7%;
    color: #fff;
    background-color: #198754;
    border-color: #198754;
    margin-left: -14%;
} 

.signup
{
    margin-left:40%;
} 

.form-control
{
    width:50%;   
    margin-left: -6%;
} 
.center
{ 
    color:green;
    margin-left:35%;
}
label {
    color: black;
}