<div>
    <h2 class="header">Application Form</h2>
    <br>

    <div class="card border-primary mb-3" style="max-width: 57rem; ">


        <div class="card-body text-primary">
            <h5 class="card-title">Personal Details</h5>
            <hr>
            <form [formGroup]="appForm" (ngSubmit)="onSubmit(appForm.value)" ngNativeValidate>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">First Name</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="First Name" formControlName="firstName"
                            value="{{firstName}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Last Name</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="Last Name" formControlName="lastName"
                            value="{{lastName}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Age</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="Age" formControlName="age" required>

                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Gender</label>

                    <div class="col-sm-10"> <select class="form-control" placeholder="Gender" formControlName="gender"
                            required>
                            <option value="" disabled>Choose your Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Others">Others</option>

                        </select></div>
                </div>


                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Mobile Number</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="Mobile Number" formControlName="mobileNumber" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Email ID</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="Email ID" formControlName="mailId" value="{{mailId}}">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Address</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="4" cols="50" placeholder="Address"
                            formControlName="address" required></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">State</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="State" formControlName="state" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">City</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="City" formControlName="city" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Pincode</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="Pincode" formControlName="pinCode" required>
                    </div>
                </div>
                <hr>
                <h5 class="card-title">Employment Details</h5>
                <hr>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Employment Type</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="Employment Type" formControlName="employmentType"
                            value="{{employmentType}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Annual Salary</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="Annual Salary" formControlName="annualSalary"
                            value="{{annualSalary}}">
                    </div>
                </div>
                <hr>
                <h5 class="card-title">Vehicle Details</h5>
                <hr>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Vehicle Type</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="Vehicle Type" formControlName="vehicleType"
                            value="{{vehicleType}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Vehicle Brand</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="Vehicle Brand" formControlName="vehicleBrand"
                            value="{{vehicleBrand}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Vehicle Model</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="Vehicle Model" formControlName="vehicleModel"
                            value="{{vehicleModel}}">
                    </div>
                </div>
                <hr>
                <h5 class="card-title">Bank Details</h5>
                <hr>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Account Number</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="Account Number" formControlName="accountNumber"
                            value="{{accountNumber}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">IFSC CODE</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="IFSC CODE" formControlName="ifscCode"
                            value="{{ifscCode}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Bank Branch</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="Bank Branch" formControlName="bankBranch"
                            value="{{bankBranch}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Account Type</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="Account Type" formControlName="accountType"
                            value="{{accountType}}">
                    </div>
                </div>

                <hr>


                <hr>
                <h5 class="card-title">Loan Details</h5>
                <hr>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Loan Amount</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="Loan Amount" formControlName="principle"
                            value="{{principle}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Tenure</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="Tenure" formControlName="tenure" value="{{tenure}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">EMI</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="Tenure" formControlName="tenure" value="{{emi}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Rate Of Interest</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="Rate Of Interest" formControlName="interest"
                            value="{{interest}}">
                    </div>
                </div>
                <hr>
                <h5 class="card-title">Identity Details</h5>
                <small class="text-muted">Upload the necessary documents for verification</small>
                <hr>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Aadhar Card</label>
                    <div class="col-sm-10">
                        <input type="file" id="myFile" name="filename">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Pan Card</label>
                    <div class="col-sm-10">
                        <input type="file" id="myFile" name="filename">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Photo</label>
                    <div class="col-sm-10">
                        <input type="file" id="myFile" name="filename">
                    </div>
                </div>
                <button type="submit" style="float: right;width:100px;">Submit</button>



            </form>

        </div>
    </div>

    &nbsp;

    <footer class="py-5" style="background-color: #e0e3e6;position: relative;margin-top:2%;">
        <div class="container">
            <p class="m-0 text-center text-dark">Copyright &copy; WheelEx 2021</p>
        </div>
    </footer>