<p>vehicle-types works!</p>


<a [routerLink]="['/twowheelereligibilitychecker']" class="btn btn-warning"  routerLinkActive="active">Two Wheeler </a>
<a [routerLink]="['/threewheelereligibilitychecker']" class="btn btn-warning"  routerLinkActive="active">Three Wheeler </a>
<a [routerLink]="['/fourwheelereligibilitychecker']" class="btn btn-warning"  routerLinkActive="active">Four Wheeler </a> 
<a [routerLink]="['/user-dashboard']" class="btn btn-warning"  routerLinkActive="active">Back To User Dashboard </a>