<div class="wrapper">
    <div class="sidebar">
        <h6> <i class="fas fa-home"></i><a [routerLink]="['/user-dashboard']" style="color: rgb(241, 239, 231);"> User Dashboard</a> </h6>
        <ul>
            <li><a [routerLink]="['/addemp']"> <i class="fa fa-book fa-fw"></i> Add/Update your Employment Details</a></li>
            <li><a class="appstatus" [routerLink]="['/status']"><i class="fas fa-user"></i>Application Status </a></li>
            <li><a [routerLink]="['/addbank']"><i class="fas fa-briefcase"></i> Add Bank Details</a></li>
            <li><a class="bankdetails" [routerLink]="['/updatebank']"><i class="far fa-address-book"></i>  Update Bank
                    Details<br> </a></li>
            <li><a [routerLink]="['/vehicletypes']"><i class="fas fa-chart-line"></i>Apply Loan</a></li>
            <li><a class="bankdetails" [routerLink]="['/aboutus']"><i class="fas fa-address-book"></i>About us</a></li>
        </ul>
    </div>
</div>
  

<h1 style="margin-left: 40%; margin-top: 3%; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Choose The Type Of Vehicle Loan</h1>
 
<table class="table center">   
    <tbody>
        <tr><a [routerLink]="['/twowheelereligibilitychecker']" class="btn btn-warning"  routerLinkActive="active" (click)="checkLocalStorage()">Two Wheeler Loans</a></tr>
        <tr><a [routerLink]="['/threewheelereligibilitychecker']" class="btn btn-warning"  routerLinkActive="active" (click)="checkLocalStorage()">Three Wheeler Loans</a></tr>
        <tr><a [routerLink]="['/fourwheelereligibilitychecker']" class="btn btn-warning"  routerLinkActive="active" (click)="checkLocalStorage()">Four Wheeler Loans</a> </tr>
        <tr><a [routerLink]="['/user-dashboard']" class="btn btn-warning"  routerLinkActive="active">Back To User Dashboard </a></tr>
    </tbody>
</table>