<div class="wrapper">
    <div class="sidebar">
        <h6> <i class="fas fa-home"></i><a [routerLink]="['/admin-dashboard']" style="color: rgb(241, 239, 231);"> Admin Dashboard</a> </h6>
        <ul>
            <li><a [routerLink]="['/checkapplication']"> <i class="fa fa-book fa-fw"></i> Check Applications</a></li>
            <li><a [routerLink]="['/approvedlist']"><i class="fas fa-chart-line"></i> Accepted
                List</a></li>
            <li><a [routerLink]="['/rejectedlist']"><i class="fas fa-briefcase"></i> Rejected
                List</a></li>
            <li><a [routerLink]="['/aboutus']"><i class="fas fa-address-book"></i>About us</a></li>
        </ul>
    </div>
</div>

<div>
    <router-outlet></router-outlet>
</div>