<div class="wrapper">
    <div class="sidebar">
        <h6> <i class="fas fa-home"></i><a [routerLink]="['/user-dashboard']"> User Dashboard</a> </h6>
        <ul> 
            <li><a class="bankdetails" [routerLink]="['/loanprocedures']"><i class="far fa-address-book"></i>Loan
                Procedures<br> </a></li>
            <li><a [routerLink]="['/addemp']"> <i class="fa fa-book fa-fw"></i> Add/Update your Employment Details</a>
            </li>
            <li><a class="appstatus" [routerLink]="['/status']"><i class="fas fa-user"></i>Application Status </a></li>
            <li><a [routerLink]="['/addbank']"><i class="fas fa-briefcase"></i> Add Bank Details</a></li>
            <li><a [routerLink]="['/vehicletypes']"><i class="fas fa-chart-line"></i>Apply Loan</a></li>
            <li><a class="bankdetails" [routerLink]="['/aboutus']"><i class="fas fa-address-book"></i>About us</a></li>
            <li><a class="bankdetails" [routerLink]="['/home']" (click)="onLogout()"><i class="fas fa-sign-out-alt" ></i>Log Out</a></li>
        </ul>
    </div>
</div>

<div class="corousel_placer">
    <div class="jumbotron">
        <div class="container">
            <ul class="ullist">
                <h1 class="display-3" style="margin-left:20%;">Vehicle Loan Procedures</h1>
                <div class="center">
                    <li class="insidediv"><b>Step 1:</b> Add your employment details </li>
                    <li class="insidediv"><b>Step 2:</b> Add your bank details</li>
                    <li class="insidediv"><b>Step 3:</b> Click Apply Loan , choose your vehicle type and get to know your eligibility</li>
                    <li class="insidediv"><b>Step 4:</b> Choose your EMI type and proceed to fill the application form </li>
                    <li class="insidediv"><b>Step 5:</b> Upload the required documents </li>
                    <li class="insidediv"><b>Step 6:</b> And the loan process is done
                    <li>
                    <li class="insidediv"><b>Step 7:</b> Keep a track of your application status </li>
                </div>
            </ul>
    </div>
</div> 
</div>

&nbsp;

<footer class="py-5" style="background-color: #e0e3e6; margin-top: 1%;position: relative">
    <div class="container"><p class="m-0 text-center text-dark">Copyright &copy; WheelEx 2021</p></div>
  </footer>